---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1 animate-fade-in">Hey there 👋</div>
    <div class="text-5xl font-bold text-gradient animate-slide-up ...">I'm Bassel Alawidat</div>
    <div class="text-3xl py-3 font-bold">Computer Engineer and AI Expert</div>
    <div class="py-2">
      <text class="text-lg">
        <b>Computer Engineer</b> and Educator Specializing in Data Analysis and AI.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn rounded-full shadow-md hover:shadow-lg transition-all duration-300" href="https://www.facebook.com/BasilAlewaidat/" target="_blank">Let's connect!</a>
      <a href="https://github.com/Bassel-Alawidat" target="_blank" class="btn btn-outline ml-5 rounded-full shadow-md hover:shadow-lg transition-all duration-300">
        Get My github
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2 mt-10 md:text-4xl sm:text-2xl">My Last Projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
    class="transform hover:scale-105 transition-all duration-500"
  />
  <div class="divider border-t-2 border-primary my-4"></div>
  
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    class="transform hover:scale-105 transition-all duration-500"
  />
  <div class="divider border-t-2 border-primary my-4"></div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
    class="transform hover:scale-105 transition-all duration-500"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10 md:text-4xl sm:text-2xl">Latest from Blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
          class="transform hover:scale-105 transition-all duration-500"
        />
        <div class="divider border-t-2 border-primary my-4" />
      </>
    ))
  }
</BaseLayout>
